@charset "UTF-8";
/* importando as fontes do google*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Variaveis referentes ao texto*/
/* Variaveis referentes as colores*/
/* Variaveis referentes ao tamanho da tela media Query*/
* {
  margin: 0;
  padding: 0;
}

/* Editando a tag body*/
body {
  background-color: silver;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  -webkit-text-decoration-color: Black;
          text-decoration-color: Black;
  /* Editando a classe container*/
}

body .container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  /* Editando a classe titulo*/
  /* Editando a classe logo*/
  /* Editando a classe artigo_header*/
  /*Esta classe sera ativada via Javascript*/
  /* editando a classe rodapé */
  /* Editando a tag p do radapé */
}

body .container .titulo {
  background-color: darkslategray;
  width: auto;
  margin-bottom: 5px;
  margin-top: 10px;
}

body .container .logo {
  color: white;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

body .container .artigo_header {
  width: auto;
  height: 30px;
  background: darkcyan;
  padding: 15px;
  color: white;
  font-weight: 700;
  border-bottom: 5px solid white;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  /* quando a tela chegar ao ponto (576px) ou menor o header muda a cor para vermelho*/
  /* Quando a tela está  entre (576px) e (768px) o header muda a cor para Azul*/
  /* Quando a tela está  entre (768px) e (992px) o header muda a cor para Cinza*/
  /* Quando a tela está  entre (992px) e (1200px) o header muda a cor para Rosa*/
  /* Quando a tela está  entre (1200px) e (1900px) o header muda a cor para Amarelo*/
  /* Altera a cor do texto e borda inferior ao passar o mouse*/
}

@media only screen and (max-width: 576px) {
  body .container .artigo_header {
    background: red;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  body .container .artigo_header {
    background: blue;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  body .container .artigo_header {
    background: gray;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  body .container .artigo_header {
    background: hotpink;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1200px) {
  body .container .artigo_header {
    background: yellow;
  }
}

body .container .artigo_header:hover {
  color: darkslategray;
  border-color: darkslategray;
}

body .container .active {
  color: darkslategray;
  border-color: darkslategray;
}

body .container .active + .artigo_corpo {
  height: 100px;
}

body .container .artigo_corpo {
  width: 100%;
  height: 0px;
  -webkit-transition: all 0,5s ease;
  transition: all 0,5s ease;
  background: white;
  overflow: hidden;
  margin-bottom: 5px;
  /* Propridades da classe hidden quanto expandida*/
  /*Alterando a calsse p */
}

body .container .artigo_corpo p {
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
  color: darkcyan;
}

body .container .rodape {
  background-color: darkslategray;
  width: auto;
}

body .container .rodape p {
  text-align: center;
  color: white;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
/*# sourceMappingURL=style.css.map */