<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sass/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Document</title>
    
</head>
<body>
    
    <!-- Local onde o Vue irá controlar -->
    <div class="container" id="app">
        <header class="titulo">
            <div class="logo">Blog</div>
        </header>
        <div class="container">
            <form @submit.prevent="addTodo">
                <label for="Novo Artigo">Novo Artigo</label><br>
                <input class="textForm" v-model="newTodo" type="text" name=" newTodo" id="newTodo" value=""><br><br>
                <input class="textForm" v-model="newArtigo" type="text" name=" newArtigo" id="newArtigo" value=""><br><br>
                <button  type="submit" name="button">Add todo</button>
            </form>
      
          <ul>
                <li v-for=" todo in todos"> 
                    <div class="artigo_header"><h2 class="tituloArt" @click="todo.show = !todo.show">{{todo.titulo}}</h2>
                         <span> <button class="btn" @click="removeTodo(todo)" type="button">remove</span><br> 
                    </div> 
            
                    <div class="artigo_corpo" v-if="todo.show" id="artigo">{{todo.artigo}}</div>
               
                </li>
          </ul>
          
        </div>
            <footer class = "rodape">
                <p> Fonte Wikipédia Todos os direitos resarvados</p>
            </footer>
    </div>
 
</div>

</div>

    <script  src="./src/app.js"></script>   
</body>

</html>