
/* Editando a tag body*/
body {
    background-color: silver;
    font-family: 'Roboto', sans-serif
    font-size: 14px;
    text-decoration-color: black;


}

/* Editando a tag div com id container*/
#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Editando a tag div com id titulo*/
#titulo {
    background-color: darkslategray;
    width: auto;
    margin-bottom: 10px;
}

/* Editando a tag div com id logo*/
#logo{
    text-shadow: 1px 1px 1px floralwhite;
    color: white;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
/* Editando a classe artigo*/
.Artigo {
    background-color: white;
    padding: 5px;
    border: 1px solid darkslategray;
    margin-bottom: 10px;

}

/* Editando a tag h1 da classe artigo*/
.Artigo h1{
    font-size: 16px;
}

/* Editando a tag p da classe artigo */
.Artigo p {
    margin-bottom: 5px;

}

/* Editando a tag p da classe artigo */
.Artigo p:last-child {
    margin-bottom: 0px;
}

/* editando o tag footer com id rodapé */
#rodape{
    background-color: darkslategray;
    width: auto;
} 

/* Editando a tag p do id radapé */
#rodape p {
    text-align: center;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}