* {
    margin:0;
    padding: 0;
    
}
/* Editando a tag body*/
body {
    background-color: silver;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration-color: black;


}

/* Editando a tag div com id container*/
#container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Editando a tag div com id titulo*/
#titulo {
    background-color: darkslategray;
    width: auto;
    margin-bottom: 10px;
}

/* Editando a tag div com id logo*/
#logo{
    text-shadow: 1px 1px 1px floralwhite;
    color: white;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
/* Editando a classe artigo*/
.Artigo {
    background-color: lightseagreen;
    width: auto;
    height: 30px;
    padding: 5px;
    line-height: 30px;

}

/* Editando a tag h1 da classe artigo */
h1{
    font-size: 16px;
    cursor: pointer;
}

/* Editando a tag p  classe hidden */
p {
    margin-bottom: 5px;
    margin-bottom: 10px;

}

/* Propridades da classe hidden quanto expandida*/
.hidden {
    background-color: white;
    width: auto;
    padding: 5px;
    margin-bottom: 10px;
    color: teal;
}
/* editando o tag footer com id rodapé */
#rodape{
    background-color: darkslategray;
    width: auto;
} 

/* Editando a tag p do id radapé */
#rodape p {
    text-align: center;
    color: white;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}